<h2 class="team-signup__team-name"><%= team.name %></h2>
<h3 class="team-signup__team-leader">Team Leader: <%= team.leader %></h3>
<p class="team-signup__team-description"><%= team.description %></p>

<% if (team.members.length > 0) { %>
  <h3>Current Members:</h3>
  <ul>
      <% include members.ejs %>
  </ul>
<% } else { %>
  <p>&nbsp;<br /><em>No one has signed up for this team yet.</em></p>
<% } %>

<% if (!user.is_admin && user.full_name) { %>
    <%
    var buttonDisabled = false;
    var buttonText = 'Sign me up!';

    if (user.team_id !== null) {
      buttonDisabled = true;
      buttonText = 'Signed up' + (user.team_id === team.id ? '!' : ': team ' + (parseInt(user.team_id) + 1));
    } else if (team.members.length >= team.slots) {
      buttonDisabled = true;
      buttonText = 'Team is full';
    }
    %>

    <form
      action="/api/signup"
      method="GET"
      data-form-name="team-signup"
      data-form-slug="<%= team.slug %>"
      data-form-team-id="<%= team.id %>"
      class="team-signup__signup-form"
    >
        <input type="hidden" name="guid" value="<%= user.guid %>" />
        <input type="hidden" name="team_id" value="<%= team.id %>" />
        <input type="hidden" name="full_name" value="<%= user.full_name %>" />
        <input type="submit" value="<%= buttonText %>" <% if (buttonDisabled) { %>disabled<% } %> />
    </form>
<% } %>
