<h2 class="team-signup__team-name"><%= team.name %></h2>
<h3 class="team-signup__team-leader">Team Leader: <%= team.leader %></h3>
<p class="team-signup__team-description"><%= team.description %></p>

<% if (team.members.length > 0) { %>
  <h3>Current Members:</h3>
  <ul>
      <% include members.ejs %>
  </ul>
<% } %>

<% if (!user.is_admin && user.full_name) { %>
    <% var buttonText = (user.team_id === null) ? 'Sign me up!' : 'You are signed up!'; %>
    <form
      action="/api/signup"
      method="GET"
      data-form-name="team-signup"
      data-form-slug="<%= team.slug %>"
      data-form-team-id="<%= team.id %>"
      class="
        team-signup__signup-form
        <%= (team.members.length < team.slots) ? '' : 'is-hidden' %>
      "
    >
        <input type="hidden" name="guid" value="<%= user.guid %>" />
        <input type="hidden" name="team_id" value="<%= team.id %>" />
        <input type="hidden" name="full_name" value="<%= user.full_name %>" />
        <input type="submit" value="<%= buttonText %>" <% if (user.team_id !== null) { %>disabled<% } %> />
    </form>
<% } %>

<% if (!user.is_admin && user.team_id === null && team.members.length >= team.slots) { %>
    <p><em>Sorry, but this team is full.</em></p>
<% } %>
