<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/branding_header.ejs %>

  <div class="team-signup__content">

  <% if (user.is_admin) { %>
    <h2>Admin Tools:</h2>
    <a href="/api/admin/reset" data-api-action="team">Reset Teams &gt;</a>
  <% } %>

  <% if (user.full_name || user.is_admin) { %>

    <% if (!user.is_admin) { %>
      <h3>Hi, <%= user.full_name %>!</h3>
      <a href="/api/setname?full_name=" data-api-action="page">Edit My Name</a>
    <%  } %>

    <% if (app.config.devMode) { %>
      <p><em>my guid: <%= user.guid %></em></p>
    <% } %>

    <h2>Choose a team:</h2>

    <ol class="team-signup__team-listing">
        <% teams.forEach(function(team){ %>
          <li data-team-card data-team-id="<%= team.id %>">
            <%- include('../partials/team.ejs', { team }); %>
          </li>
        <% }); %>
    </ol>
  <% } else { %>
    <form action="/api/setname" method="GET" data-form-name="enter-name">
      <input name="full_name" placeholder="Enter your full name please." class="team-signup__name-entry" >
      <input type="submit" value="Submit" />
    </form>
  <% } %>

  </div>

  <% if (app.config.devMode) { %>
    <script src="<%= app.config.browserRefreshURL %>"></script>
  <% } %>

  <script src="/assets/js/client.js"></script>
</body>
</html>
