<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
  var config = { is_admin: <%= user.is_admin %> }
  </script>
</head>

<body>

  <h1><%= app.name %></h1>

  <% if (app.config.devMode) { %>
    <em>my guid: <%= user.guid %></em>
  <% } %>

  <% if (user.full_name) { %>
    <h3>Hi, <%= user.full_name %>!</h3>
  <% } else { %>
    <form action="/api/setname" method="GET" data-form-name="enter-name">
      <h3>Enter your full name please.</h3>
      <input name="full_name" placeholder="Enter full name" >
      <input type="submit" value="Submit" />
    </form>
  <% } %>

  <% if (user.is_admin) { %>
    <h2>Admin Tools:</h2>
    <a href="/api/admin/reset" data-api-action>Reset Teams &gt;</a>
  <% } else { %>
    <h2>The following teams are available to join:</h2>
  <% } %>

  <ul class="team-signup__team-listing">
      <% teams.forEach(function(team){ %>
        <%- include('../partials/team.ejs', { team }); %>
      <% }); %>
  </ul>

  <% if (app.config.devMode) { %>
    <script src="<%= app.config.browserRefreshURL %>"></script>
  <% } %>  

  <script src="/assets/js/app.js"></script>
</body>
</html>
